:root{
    --cor-preto :#22242a; 
    --cor-azul :#19b3d3; 
    --cor-branca :#fff; 
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: var(--cor-preto);
    width: 100%;
    height: 30px;
    padding: 20px;
    position: fixed; 

}

.area-esquerda h3{
    color: #fff;
    margin: 0;
    font-size: 22;
    font-weight: 900;
    text-transform: uppercase;
}

.btn-sair{
    color: #ffff;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: -30px;
    background-color: #19b3d3;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 5px;
    transition-delay: 0.5;
}

.btn-sair:hover{
    background-color: #0D9DBB;
    padding: 10px 10px;
    border-radius: 10px;
}

.perfil{
    text-align: center;
}

.imagem-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

nav{
    background-color: #2f323a;
    width: 250px;
    height: 100%;
    left: 0;
    position: fixed;
    margin-top: 70px;
    padding-top: 30px;
    transition: 0.4s;
}

nav h4{
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding-left: 40px;
    line-height: 88px;
    box-sizing: border-box;
}

nav i{
    margin-right: 10px;
}

nav a:hover{
    background-color: #0D9DBB;
    transition: 1s;
}

#btnMenu{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: fixed;
    left: 250px;
    top: 45px;
}

#chkMenu{
    display: none;
}

#chkMenu:checked~nav{
    left: -190px;
}

#chkMenu:checked~nav a{
    font-size: 22px;
    margin-left: 165px;
}

#chkMenu:checked~nav a span{
    display: none;
    transition-delay: 1.8s;
}

.conteudo{
    background-image: url('https://2.bp.blogspot.com/-D2qFU89W56o/WTgzR5rfN-I/AAAAAAAAA7I/exnfwkaOrZYUEyEoPlWjNgvCOAhIWIjJACLcB/s1600/1408.png');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0vh;

}

.conteudo h1{
    margin-top: 0px;
    padding-top: 150px;
    padding-bottom: 0.1px;
    text-align: left;
    padding-left: 650px;
    color: var(--cor-branca);
    font-size: 25px;
}

.conteudo img{
    padding-left: 660px;
    width: 400px;
    height: 30%;
    padding-bottom: 60px;
    margin-left: 600px;
    border-radius: 1%;
    margin-bottom: 0px;

}

.conteudo h2{
    margin-top: -340px;
    padding-bottom: 900px;
    text-align: center;
    color: var(--cor-branca);
    padding-right: 300px;
    font-size: 25px;
    margin-bottom: 0px;
}

.conteudo h3{
    margin-top: -880px;
    padding-bottom: 100px;
    color:var(--cor-branca);
    text-align: center;
    padding-right: 300px;
    font-size: 25px;
}




